<div class="mx-auto max-w-2xl text-center">
    <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Gurdev Sihra</h2>
    <p class="mt-2 text-lg/8 text-gray-600">Software Engineer</p>
</div>