---
import '../styles/url.css';
---

<article class="grow p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-5 text-gray-500">
        <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
           June 2020 - April 2021      
        </span>
    </div>
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="https://www.linkedin.com/company/objectivity/">Objectivity, Inc.</a></h2>
    <p class="font-light text-gray-500 dark:text-gray-400">Software Engineer Intern</p>
</article> 



