
<style>
    .iconHeight{
        width:  3rem;
        height: 3rem;
        object-fit:scale-down;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .flex-container {
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="flex-container overflow-y-hidden overflow-x-scroll">
    <a href="https://www.linkedin.com/in/gurdevsihra/" target="_blank" id="logo"><img class="row-span-1 iconHeight object-contain lg:col-span-1" src="../public/linked.png" alt="Transistor"></a>
    <a href="https://github.com/sihra/" target="_blank" id="logo"><img class="row-span-1 iconHeight object-contain lg:col-span-1" src="../public/github.png" alt="Reform"></a>
    <a href="mailto:gurdev.sihra@gmail.com" target="_blank" id="logo"><img class="row-span-1 iconHeight object-contain lg:col-span-1" src="../public/gmail.png" alt="Tuple"></a>
    <a href="https://drive.google.com/file/d/1pv8OhcN6VhNqsbdSbvZbzUuB-DvrlJlG/view?usp=sharing" target="_blank" id="logo"><img class="row-span-1 iconHeight object-contain lg:col-span-1" src="../public/resume.png" alt="Tuple"></a>
</div>
