---
import HeaderComponent from "../../components/header.astro";
import SocialComponent from "../../components/socials.astro";
import MonsterProjectComponent from "../../components/monsterProject.astro";
import NeedsProject from "../../components/needsProject.astro";
import SmartJob from "../../components/smartThings.astro";
import ObjJob from "../../components/objectivity.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="../../public/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gurdev Sihra</title>
	</head>
	<body>
		<div class="bg-white py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<HeaderComponent />
				<SocialComponent />

				<div class="flex mt-12">
					<h1
						class="text-pretty font-semibold tracking-tight text-gray-700 w-48 sm:text-3xl"
					>
						Work Experience
					</h1>

					<div class="flex flex-row">
						<SmartJob />
						<div class="ml-8">
							<ObjJob />
						</div>
					</div>
				</div>

				<hr class="mt-12" />

				<div class="flex mt-12">
					<h1
						class="text-pretty font-semibold tracking-tight text-gray-700 w-80 sm:text-3xl"
					>
						Personal Projects
					</h1>

					<div class="flex flex-col">
						<MonsterProjectComponent />
						<div class="mt-8">
							<NeedsProject />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
