/* unvisited link */
a:link {
color: blue;
}

/* visited link */
a:visited {
color: rgb(0, 132, 255);
}

/* mouse over link */
a:hover {
color:  blue;
}

/* selected link */
a:active {
color: rgb(0, 132, 255);
}
